<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Scrolling Nav - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>About Us</h1>
      <p class="lead">Justin Rojas , Greg Avetisan</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2></h2>
          <p class="lead">Two young college students decided to invent something new and innovative to present to their professor Chu a.k.a the CHu man.</p>
         <li> Later they discovered throughout their journey there were some difficult tasks up ahead.
         They didn't realize how difficult and time consuming this project would be once they first started. 
         Through diffucult times these two students struggled day and night to make this projoect dillgently so they can perfect and it can become a master piece. 
         As the phrase says by Robert H. Schuller, “Today’s Accomplishments Were Yesterday’s Impossibilities.”</li> 
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
